Task 1
Implement a linear regression model to predict the prices of houses
based on their square footage and the number of bedrooms and
bathrooms.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("C:/Users/HP/Desktop/Programming/Projects/Prasunet Intern Projects/Project 1- Linear Regression/dataset/data.csv")

In [3]:
df.columns

Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'street', 'city',
       'statezip', 'country'],
      dtype='object')

In [4]:
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [5]:
df = df[['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot']]

In [6]:
df.head()

       price  bedrooms  bathrooms  sqft_living  sqft_lot
0   313000.0       3.0       1.50         1340      7912
1  2384000.0       5.0       2.50         3650      9050
2   342000.0       3.0       2.00         1930     11947
3   420000.0       3.0       2.25         2000      8030
4   550000.0       4.0       2.50         1940     10500

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   price        4600 non-null   float64
 1   bedrooms     4600 non-null   float64
 2   bathrooms    4600 non-null   float64
 3   sqft_living  4600 non-null   int64
 4   sqft_lot     4600 non-null   int64
dtypes: float64(3), int64(2)
memory usage: 179.8 KB

In [8]:
df.isna().sum()

price          0
bedrooms       0
bathrooms      0
sqft_living    0
sqft_lot       0
dtype: int64

In [9]:
df.duplicated().sum()

0

In [10]:
df.describe()

              price     bedrooms    bathrooms   sqft_living      sqft_lot
count  4.600000e+03  4600.000000  4600.000000   4600.000000  4.600000e+03
mean   5.519630e+05     3.400870     2.160815   2139.346957  1.485252e+04
std    5.638347e+05     0.908848     0.783781    963.206916  3.588444e+04
min    0.000000e+00     0.000000     0.000000    370.000000  6.380000e+02
25%    3.228750e+05     3.000000     1.750000   1460.000000  5.000750e+03
50%    4.609435e+05     3.000000     2.250000   1980.000000  7.683000e+03
75%    6.549625e+05     4.000000     2.500000   2620.000000  1.100125e+04
max    2.659000e+07     9.000000     8.000000  13540.000000  1.074218e+06

price of some house is 0, Outlier

In [11]:
df[df['price']==0]

      price  bedrooms  bathrooms  sqft_living  sqft_lot
4354    0.0       3.0       1.75         1490     10125
4356    0.0       4.0       2.75         2600      5390
4357    0.0       6.0       2.75         3200      9200
4358    0.0       5.0       3.50         3480     36615
4361    0.0       5.0       1.50         1500      7112
4362    0.0       4.0       4.00         3680     18804
4374    0.0       2.0       2.50         2200    188200
4376    0.0       4.0       2.25         2170     10500
4382    0.0       5.0       4.50         4630      6324
4383    0.0       5.0       4.00         4430      9000
4385    0.0       4.0       4.50         5030     11023
4386    0.0       4.0       1.50         2180     22870
4389    0.0       4.0       3.50         4210     10308
4394    0.0       5.0       3.25         3690     12353
4405    0.0       4.0       3.75         3300      4545
4408    0.0       5.0       2.25         2880     11965
4411    0.0       5.0       2.25         2000      7900
4412    0.0       3.0       3.00         1860      7440
4413    0.0       4.0       3.00         1990      6180
4420    0.0       4.0       1.00         1360     13372
4442    0.0       1.0       1.00          720      6000
4448    0.0       5.0       2.75         2740      5616
4453    0.0       3.0       1.00         1300      6710
4454    0.0       5.0       2.50         2090      4698
4472    0.0       4.0       3.75         4060     19290
4478    0.0       5.0       2.75         2910     53898
4479    0.0       5.0       2.00         1910      7200
4480    0.0       3.0       2.50         2880     13500
4481    0.0       5.0       2.75         3240      6863
4487    0.0       4.0       1.00         2080      3500
4499    0.0       5.0       3.75         3870      8225
4507    0.0       4.0       1.50         2310     68824
4509    0.0       6.0       3.00         3020     13783
4520    0.0       4.0       2.50         1960     11600
4521    0.0       4.0       1.00         1810      7500
4522    0.0       2.0       2.25         1490      6770
4523    0.0       3.0       4.50         5230     17826
4528    0.0       4.0       5.00         4550     18641
4534    0.0       3.0       2.75         1310      7300
4542    0.0       5.0       3.50         2640      6895
4552    0.0       4.0       2.00         2100      4857
4554    0.0       2.0       1.00          810      8424
4555    0.0       2.0       1.50         1520      8040
4558    0.0       4.0       4.25         3500      8750
4563    0.0       2.0       2.25         2130      4920
4567    0.0       4.0       2.50         4080     18362
4574    0.0       3.0       1.00         1520      9030
4575    0.0       5.0       6.25         8020     21738
4588    0.0       4.0       2.25         2890     18226

In [12]:
df = df[df['price'] != 0]
df.shape

(4551, 5)

Removing outliers

In [13]:
q1 = df['price'].quantile(0.25)
q3 = df['price'].quantile(0.75)

In [14]:
iqr = q3 - q1
lower_bound = q1 - 1.5*iqr
upper_bound = q3 + 1.5*iqr

In [15]:
outliers = df[(df['price'] < lower_bound) | (df['price'] > upper_bound)]['price']

In [16]:
outliers

1       2.384000e+06
11      1.400000e+06
14      1.200000e+06
99      1.395000e+06
122     2.280000e+06
            ...
4348    2.199900e+06
4350    2.659000e+07
4465    2.560498e+06
4467    1.337044e+06
4572    1.288333e+06
Name: price, Length: 240, dtype: float64

In [17]:
df = df[(df['price'] >= lower_bound) | (df['price'] <= upper_bound)]

In [18]:
df.shape

(4551, 5)

In [25]:
print(f'{upper_bound}, {lower_bound}')

1154353.57142825, -170589.28571375

In [20]:
x = df.drop(columns='price')

In [49]:
x

      bedrooms  bathrooms  sqft_living  sqft_lot
0          3.0       1.50         1340      7912
1          5.0       2.50         3650      9050
2          3.0       2.00         1930     11947
3          3.0       2.25         2000      8030
4          4.0       2.50         1940     10500
...        ...        ...          ...       ...
4595       3.0       1.75         1510      6360
4596       3.0       2.50         1460      7573
4597       3.0       2.50         3010      7014
4598       4.0       2.00         2090      6630
4599       3.0       2.50         1490      8102

[4551 rows x 4 columns]

In [21]:
y = df['price']

In [26]:
print(x.shape, y.shape)

(4551, 4) (4551,)

In [27]:
df.describe()

              price     bedrooms    bathrooms   sqft_living      sqft_lot
count  4.551000e+03  4551.000000  4551.000000   4551.000000  4.551000e+03
mean   5.579059e+05     3.394639     2.155021   2132.372226  1.483528e+04
std    5.639299e+05     0.904595     0.776351    955.949708  3.596408e+04
min    7.800000e+03     0.000000     0.000000    370.000000  6.380000e+02
25%    3.262643e+05     3.000000     1.750000   1460.000000  5.000000e+03
50%    4.650000e+05     3.000000     2.250000   1970.000000  7.680000e+03
75%    6.575000e+05     4.000000     2.500000   2610.000000  1.097800e+04
max    2.659000e+07     9.000000     8.000000  13540.000000  1.074218e+06

bedrooms range             =  0-9 
bathrooms range            =  0-8
sqft_living range          = 370-13540            
sqft_lot range             = 638 - 10,74,218

conclusion its better to scale all the columns

Scaling my dataset to get better results

In [28]:
from sklearn.preprocessing import StandardScaler

In [29]:
scaler = StandardScaler()

In [30]:
x_scaled = scaler.fit_transform(x)

In [31]:
from sklearn.model_selection import train_test_split

In [32]:
x_train, x_test, y_train, y_test = train_test_split(x_scaled, y, test_size=0.2, random_state=42)

In [33]:
print(x_train.shape, y_train.shape)

(3640, 4) (3640,)

In [34]:
print(x_test.shape, y_test.shape)

(911, 4) (911,)

In [35]:
from sklearn.linear_model import LinearRegression

In [36]:
lr = LinearRegression()

In [37]:
lr.fit(x_train, y_train)

LinearRegression()

In [38]:
y_pred = lr.predict(x_test)

Model Evaluation

In [39]:
from sklearn.metrics import mean_squared_error, r2_score, root_mean_squared_error

In [40]:
mse = mean_squared_error(y_test, y_pred)

In [41]:
rmse = root_mean_squared_error(y_test, y_pred)

In [42]:
r2 = r2_score(y_test, y_pred)

In [43]:
print(f'Mean Square Error {mse}')
print(f'Root Mean Square Error {rmse}')
print(f'R2 Score {r2}')

Mean Square Error 68980678061.25252
Root Mean Square Error 262641.72947430215
R2 Score 0.5363279094594744

In [44]:
x_test[0]

array([0.6692807 , 3.02084445, 3.43950001, 2.42198035])

In [45]:
y_test

471     1225000.0
2518     496752.0
23       612500.0
3922     265000.0
135      615000.0
          ...
3002    1320000.0
2307    1085000.0
408      490000.0
170      475000.0
540      635000.0
Name: price, Length: 911, dtype: float64

testing model with data

In [46]:
lr.predict([[0.6692807 , 3.02084445, 3.43950001, 2.42198035]])

array([1462088.05975379])

In [47]:
import pickle

In [48]:
with open('model.pkl', 'wb') as file:
    pickle.dump(lr, file)

In [50]:
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)